
  <mat-paginator [length]="posts.length"
  [pageSize]="page_size"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePage($event)"
  showFirstLastButtons >
</mat-paginator>


   <ul *ngFor= "let post of posts | paginate: page_size:page_number">
       <li> 
            <h4>{{post.title}}</h4>
           <h4>{{post.completed}}</h4>
       </li>
       
   </ul>

  
